---
import NavLayout from '../layouts/NavLayout.astro';
import { Image } from 'astro:assets';
import placeholder from '../assets/placeholder-project.svg';
import amy from '../assets/amy-screenshot.jpg';
import tcg from '../assets/connorgroup-screenshot.jpg';
import epic from '../assets/epic-screenshot.jpg';
import thrive from '../assets/thriveivusa-screenshot.jpg';

// Placeholder projects — swap in real images, titles, links, and descriptions.
const projects = [
  {
    title: "Connor Group",
    description: "I worked for the Connor Group where I managed and built features for their existing multi-million dollar earning Wordpress multisite instance.",
    tags: ["Wordpress", "API", "Custom Plugins", "Divi", "Yardi"],
    image: tcg,
    href: "https://connorgroup.com",
  },
  {
    title: "Amy Denae Weightloss",
    description: "I worked with Amy to help manage her existing website and build out the social features she wanted for her users.",
    tags: ["WordPress", "ACF", "PHP", "Elementor", "Gravity Forms", "Ads"],
    image: amy,
    href: "https://amydenaeweightloss.com",
  },
  {
    title: "EPIC Art",
    description: "I built out a custom design and now assist EPIC with maintaining and managing their digital presence.",
    tags: ["Wordpress", "Design", "Elementor", "Gravity Forms"],
    image: epic,
    href: "https://epicartinspires.com/",
  },
  {
    title: "Thrive IV USA",
    description: "As part of my work w/ Reborn Consultants, I built out a fully functional site for Thrive IV USA with deep integration into the Zenoti API.",
    tags: ["Wordpress", "Design", "Elementor", "Gravity Forms", "Zenoti", "API"],
    image: thrive,
    href: "https://thriveivusa.com/",
  }
];
---

<NavLayout pageTitle="Matt Cotter | Portfolio">
  <section class="pt-6">
    <h1>Portfolio</h1>
    <p>A selection of recent work.</p>

    <div class="grid sm:grid-cols-2 gap-6 mt-6">
      {projects.map((project) => (
        <a href={project.href} class="card block hover:no-underline" target="_blank">
          <Image src={project.image} alt={project.title} class="w-full h-auto rounded-md mb-4" />
          <h3 class="mb-1!">{project.title}</h3>
          <p class="text-sm mb-2!">{project.description}</p>
          <div class="flex flex-wrap gap-2">
            {project.tags.map((tag) => (
              <span class="tag">{tag}</span>
            ))}
          </div>
        </a>
      ))}
    </div>
    <a
      href="/MattCotterResume.pdf"
      download="MattCotterResume.pdf"
      class="btn border-2 p-3 block w-fit mx-auto mt-4"
    >
      Download Resume
    </a>
  </section>
</NavLayout>